/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 40%;
    left: 70%;
    text-align: right;
    transform: translate(-50%, -50%);
  }
  .header-title {
    font-size: x-large;
    font-family: sans-serif;

  }
  .header-details {
    font-size:medium;
    font-weight: 500;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .btn-contact {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color:darkorange;
   margin: 4px;
   border-radius: 4px;
   display: inline-block;
   border: none;
   font-size:medium;
   font-weight: 600;
   font-family: sans-serif;
   color: white;
  }
  .frist-section{
    display: flex;
    margin-left: 50px;
  }
  .my-failures {
    margin-top: 220px;
    margin-left: 120px;
    /* font-size: large; */
  }
  .title-text {
    font-size: 40px;
    font-family: sans-serif;
    
  }
  .title-details {
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .check-mark {
    height: 20px;
    width: 20px;
  }
  .list-style{
    line-height: 1.6;
  }
  .section-container{
    margin-top: 100px;
  }
  .image-bg{
   
    background-color:pink;
    border-radius:100% ;
   
  }
  .my-plan-container{
    margin-top: 150px;
  }

  .my-plan-title {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    
  }
  .my-plan-details{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right:170px ;
    margin-top:80px;
  }
  .plan{
    text-align: center;
    /* color: darkgrey; */
    font-family: sans-serif;
  }
  .text{
    color:darkgrey;
  }
  .liniyer-image{
    margin-top: 40px;
    margin-left: 60px;
    height: 200px;
    background-image:linear-gradient(to right,rgba(255,0,0,0));
  }
  #trans-image{
    height: 200px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 242, 255, 0.618));
    margin-left: 100px;
    margin-right: 100px;
  }
  
  
  