/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 40%;
    left: 70%;
    text-align: right;
    transform: translate(-50%, -50%);
  }
  .header-title {
    font-size: x-large;
    font-family: sans-serif;

  }
  .header-details {
    font-size:medium;
    font-weight: 500;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .btn-contact {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color:darkorange;
   margin: 4px;
   border-radius: 4px;
   display: inline-block;
   border: none;
   font-size:medium;
   font-weight: 600;
   font-family: sans-serif;
   color: white;
  }
  .frist-section{
    display: flex;
    margin-left: 50px;
  }
  .my-failures {
    margin-top: 220px;
    margin-left: 120px;
    /* font-size: large; */
  }
  .title-text {
    font-size: 40px;
    font-family: sans-serif;
    
  }
  .title-details {
    font-size: 18px;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .check-mark {
    height: 20px;
    width: 20px;
  }
  .list-style{
    line-height: 1.6;
  }
  .section-container{
    margin-top: 100px;
  }
  .image-bg{
   
    background-color:pink;
    border-radius:100% ;
   
  }
  .my-plan-container{
    margin-top: 150px;
  }

  .my-plan-title {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    
  }
  .my-plan-details{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right:170px ;
    margin-top:80px;
  }
  .plan{
    text-align: center;
    /* color: darkgrey; */
    font-family: sans-serif;
  }
  .text{
    color:darkgrey;
  }
  .liniyer-image{
   margin-top: 50px;
   margin-left: 80px;
   margin-bottom: 50px;
  }
  #trans-image{
    background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(242, 62, 128, 0.872)),
    url('images/watch.png');
    width:70%;
    height: 200px;
    background-size: cover;
    color: rgb(205, 47, 47);
    margin-left:140px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 5px;
  }
  .image-text{
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    padding-left: 30px;

  }
  #btn-call{
    margin-left: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    font-weight: bold;
  }
  
  
  